<mat-sidenav
  #drawer
  class="sidenav"
  fixedInViewport="true"
  [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
  [mode]="(isHandset$ | async) ? 'over' : 'side'"
  [opened]="!(isHandset$ | async)"
>
  <mat-toolbar style="width: 16rem">
    <img
      style="cursor: pointer"
      src="/assets/img/logo.png"
      alt="logo"
      routerLink="/"
    />
    <span class="spacer"></span>
    <button mat-icon-button (click)="drawer.close()" *ngIf="isHandset$ | async">
      <mat-icon>close</mat-icon>
    </button>
  </mat-toolbar>

  <mat-nav-list>
    <mat-expansion-panel
      style="box-shadow: none; font-size: 16px; margin-left: 0"
    >
      <mat-expansion-panel-header>
        <mat-panel-title> Extreme Loading</mat-panel-title>
      </mat-expansion-panel-header>

      <a mat-list-item routerLink="blast">Blast</a>
      <a mat-list-item routerLink="assessment">Assessment</a>
    </mat-expansion-panel>
    <a mat-list-item routerLink="robust">Robust</a>
    <a mat-list-item routerLink="fire">Fire Safety</a>
    <a mat-list-item routerLink="evacuation">Evacuation</a>
    <a mat-list-item routerLink="risk">Risk</a>
  </mat-nav-list>
</mat-sidenav>
